## Deliverable 3. Create a Travel Itinerary Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [41]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aracoiaba,BR,81.55,overcast clouds,-4.3711,-38.8142,Bar Redondo e Pousada
1,3,Atuona,PF,77.94,few clouds,-9.8000,-139.0333,Villa Enata
2,11,Ravar,IR,88.05,clear sky,31.2656,56.8055,computertik
3,14,Kapaa,US,82.38,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,21,Fort Nelson,CA,76.23,overcast clouds,58.8053,-122.7002,The Fort Nelson Hotel

In [42]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
cities_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [44]:
# 4a. Add a marker layer for each city to the map.
# max_temp = cleaned_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=cities_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Jamestown']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Jamestown']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Broome']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Back Mountain'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Lewistown'] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,22,Jamestown,US,78.39,broken clouds,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets



fig = gmaps.figure()
four_cities_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(four_cities_driving)

# Show map
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,22,Jamestown,US,78.39,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,55,Broome,US,88.32,scattered clouds,42.2506,-75.8330,Chenango Valley State Park
2,269,Back Mountain,US,85.32,overcast clouds,41.3359,-75.9963,Sunset Lodge
3,328,Lewistown,US,84.15,few clouds,40.5992,-77.5714,Quality Inn & Suites

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
four_cities_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(41.2, -77.1), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=four_cities_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))